<!DOCTYPE html>
<!-- language we using-->
<html lang="en">
    <!-- english-->
<head>
    <!-- 4 your computer-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- add our font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- link to css-->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<!-- <body> -->
    <h1>Todo List: </h1>

    <!-- most important item on page -->
    <ul class="todoItems"><!--unordered list-->
    <% for(let i=0; i < items.length; i++) {%> <!-- regular javascript; for loop for each item in array-->
        <li class="item"> <!-- list items-->
            <% if(items[i].completed === true) {%> <!-- is it completed? do this-->
                <span class='completed'><%= items[i].thing %></span> <!-- add the class 'completed' to these guys for styling-->
            <% }else{ %>
                <span><%= items[i].thing %></span> <!-- display them in list but dont add the class-->
            <% } %>    
            <span class='fa fa-trash'></span> <!-- we gonna maybe click this can icon that gets added on to each item on our list-->
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2> <!-- count out number of  'incomplete' tasks and shove here-->

    <h2>Add A Todo:</h2> <!-- less important -->

    <form action="/addTodo" method="POST"> <!-- redirect once we submit-->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!-- match to line 40 in our server-->
        <input type="submit">
    </form>
    
<!-- link to main js-->
    <script src='js/main.js'></script>
</body>
</html>
